<script>
    import InspectorViewModel from "~src/view-models/inspector/InspectorViewModel";
    import PropertyBrowser from "~src/web/views/inspector/PropertyBrowser";
    import DomTree from "~src/web/views/inspector/DomTree";
</script>
<AtomGridView
    style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; position: absolute; width:100%; height: 100%; padding:0; margin: 0;",
    atom-properties=" frame: null "
    columns="250,5,*,5,350"
    view-model="{ this.resolve(InspectorViewModel, 'owner') }">

    <DomTree style="overflow: auto; width: 100%; height: 100%"></DomTree>

    <AtomGridSplitter column="1" ></AtomGridSplitter>

    <iframe
        presenter="frame"
        column="2"
        src="[$viewModel.url]"
        style="border: none; padding:5px; width:100%; height:100%;"></iframe>

    <AtomGridSplitter column="3" ></AtomGridSplitter>

    <PropertyBrowser column="4" style="overflow: auto; width: 100%; height: 100%"></PropertyBrowser>
    
</AtomGridView>