<script>
    import PropertyBrowserViewModel from "~src/view-models/inspector/PropertyBrowserViewModel";
</script>
<AtomItemsControl
    view-model="{ this.resolve(PropertyBrowserViewModel) }"
    items="[$viewModel.properties]"
    filter="[ $viewModel.filter ]">

    <div>
        <input type="search" value="^[viewModel.search]"/>
        <div presenter="itemsPresenter"></div>
    </div>

    <div
        style="padding:3px" 
        template="itemTemplate">
        <span
            style="font-weight: bold"
            text="{$data.index}"></span>

        <span
            style="max-height: 20px; max-width: 100px; overflow: hidden; display: inline-block"
            title="[ $data.isObject ? 'Click to see more...' : $data.value ]"
            style-display="[ $data.expanded ? 'none' : 'inline-block' ]"
            style-color="[ $data.isObject ? 'blue' : '' ]"
            style-cursor="[ $data.isObject ? 'pointer': '' ]"
            event-click="{ () => $viewModel.toggle($data) }" 
            text="[ $data.isObject ? '(...)' : $data.value]"></span>

        <span
            event-click="{ () => $viewModel.toggle($data) }"
            style-display="[ $data.expanded ? 'inline-block' : 'none' ]"
            style-color="blue"
            style-cursor="pointer"
            text="( ^ )"></span>

        <AtomItemsControl
            style="margin-left: 20px"
            items="[ $data.expanded ? ( $data.isObject ? $data.value : []) : [] ]"
            style-display="[ $data.expanded ? '' : 'none' ]"
            item-template="{ __creator.itemTemplate }">
        </AtomItemsControl>

    </div>

</AtomItemsControl>
