<script>
    import PropertyBrowserViewModel from "~src/view-models/inspector/PropertyBrowserViewModel";
    import PropertyBrowserStyle from "~src/web/styles/PropertyBrowserStyle";
</script>
<AtomItemsControl
    default-style="{ PropertyBrowserStyle }"
    style-class="{ this.controlStyle.root }"
    view-model="{ this.resolve(PropertyBrowserViewModel) }"
    items="[$viewModel.properties]"
    filter="[ $viewModel.filter ]">

    <input type="search" value="^[viewModel.search]"/>
    <div class="presenter" presenter="itemsPresenter"></div>

    <div
        class="item"
        template="itemTemplate">
        <span
            class="index"
            text="{$data.index}"></span>

        <span
            class="closed-value"
            title="[ $data.isObject ? 'Click to see more...' : $data.value ]"
            style-display="[ $data.expanded ? 'none' : 'inline-block' ]"
            style-color="[ $data.isObject ? 'blue' : '' ]"
            style-cursor="[ $data.isObject ? 'pointer': '' ]"
            event-click="{ () => $viewModel.toggle($data) }" 
            text="[ $data.isObject ? '(...)' : $data.value]"></span>

        <span
            class="close-button"
            event-click="{ () => $viewModel.toggle($data) }"
            style-display="[ $data.expanded ? 'inline-block' : 'none' ]"
            text="( ^ )"></span>

        <AtomItemsControl
            class="items"
            items="[ $data.expanded ? ( $data.isObject ? $data.value : []) : [] ]"
            style-display="[ $data.expanded ? '' : 'none' ]"
            item-template="{ this.itemTemplate }">
        </AtomItemsControl>

    </div>

</AtomItemsControl>
