<script>
    import AppHostViewModel from "~/src/view-models/AppHostViewModel";
    import AppHostStyle from "~/src/web/styles/AppHostStyle";
</script>
<AtomGridView
    default-style="{ AppHostStyle }"
    style-class="{ this.controlStyle.root }"
    view-model="{ this.resolve(AppHostViewModel) }"
    rows="50, *">

    <header row="0" class="header">
        <input type="search" value="^[$viewModel.search]" placeholder="Search..."/>
        <div class="topnav-right">
            <!-- <a href="[$viewModel.url]" target="_tab">Open New Tab</a>
            <a href="[$viewModel.inspect($viewModel.url)]">Inspect</a> -->
            <a event-click="{ () => $viewModel.refreshUrl() }">Refresh</a>
        </div>
        <!-- <button event-click="{ () => $viewModel.refreshUrl() }">Refresh</button>
        <a href="[$viewModel.inspect($viewModel.url)]" target="_tab">Inspect</a> -->
    </header>

    <div
        style="overflow: auto; width: 100%; height: 100%"
        row="1">
        <AtomItemsControl.table 
            class="grid"
            items="[$viewModel.files]"
            value-path="url"
            value="$[viewModel.url]">
            <tr 
                style-display="[$data.visible ? '' : 'none']"
                template="itemTemplate">
                <td>
                    <div text="{$data.name}" title="{$data.dir}" style="font-weight: 500;"></div>
                    <div style="font-size: small;" text="{$data.dir}"></div>
                </td>
                <td>
                    <a class="button" href="{$data.url}" target="_tab">Open </a>
                </td>
                <td>
                    <a class="button" style-display="{ $data.urlPacked ? '' : 'none' }" href="{$data.urlPacked}" target="_tab">Open Packed</a>
                </td>
                <td>
                    <a  class="button" href="{$viewModel.inspect($data.url)}" target="_tab">Inspect </a>
                </td>
                <td>
                    <a  class="button" href="{$data.urlDesignMode}" target="_tab">Open (Design Mode)</a>
                </td>
                <td>
                    <a  class="button" style-display="{ $data.urlPacked ? '' : 'none' }" href="{$data.urlDesignModePacked}" target="_tab">Open Packed (Design Mode)</a>
                </td>
                <td>
                    <a  class="button" href="{$viewModel.inspect($data.urlDesignMode)}" target="_tab">Inspect (Design Mode) </a>
                </td>
            </tr>
        </AtomItemsControl.table>
    </div>
</AtomGridView>