<script>
    import { AppHostViewModel } from "~/src/view-models/AppHostViewModel";
</script>
<AtomGridView
    view-model="{ this.resolve(AppHostViewModel) }"
    columns="200, *"
    rows="*">

    <AtomListBox 
        items="[$viewModel.files]"
        selected-item="$[viewModel.file]">
        <div 
            template="itemTemplate"
            text="{`${$data.dir}/${$data.name}`}"></div>
    </AtomListBox>

    <iframe
        column="1"
        src="[$viewModel.url]"
        style="border: none; padding:5px; width:100%; height:100%;"></iframe>

</AtomGridView>